$primary-color-dark: #09203F;
$secondary-color-dark: #537895;
$primary-white: #fff;
$primary-black: #000;
$grey-color-light: #ccc;
$orange-color-dark: #FF512F;
$wine-color-dark: #DD2476;
$green-color-dark: #11998E;
$green-color-light: #38EF7D;
$blue-color-dark: #4E65FF;
$blue-color-light: #92EFFD;